.cell-class {
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
    background-color: rgb(253, 250, 250)
  }
  ion-select{
    max-width: 70% !important;
}
.alert-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  }