<ion-content class="background">
  <h3 class="ion-text-center ">Kala Charitable Health Care Centre</h3>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="block" size="large"  position="ion-float" routerLink="/main/patient">Add Patients</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" expand="block" size="large"  position="ion-float" routerLink="/main/treatment">Add Treatment
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="block" size="large"  position="ion-float" routerLink="/main/billing">Billing
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" expand="block" size="large" position="ion-float" routerLink="/main/summary">View Summary
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>