<ion-content>
  


  <form [formGroup]="form" (ngSubmit)="savePatients()">
    <ion-grid>
      <ion-row>
        <ion-col>
<ion-list>
<ion-item>
  <ion-label position="floating">ID:</ion-label>
  <ion-input formControlName="id" placeholder="Enter ID"  value="{{patient.id}}"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">NAME:</ion-label>
  <ion-input formControlName="name" placeholder="Enter Name" value="{{patient.name}}"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">ADDRESS:</ion-label>
  <ion-input formControlName="address" placeholder="Enter Address" value="{{patient.address}}"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">CONTACT NUMBER:</ion-label>
  <ion-input formControlName="contact" placeholder="Enter Contact" value="{{patient.contact}}"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">ENTER AGE</ion-label>
  <ion-input formControlName="age" placeholder="Enter Age" value="{{patient.age}}"></ion-input>
</ion-item>

<ion-item>
  <ion-label>GENDER</ion-label>
  <select formControlName="gender" value="{{patient.gender}}">
    <option value="Male" >
      Male
    </option>
    <option value="Female" >
     Female
    </option>
    <option value="Others">
      Others
    </option>
  </select></ion-item>
  <ion-item>
    <ion-label position="floating">DATE</ion-label>
    <ion-input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" formControlName="date" placeholder="Enter Date" value="{{patient.date}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ENTER DEPARTMENT</ion-label>
    <ion-input formControlName="dept" placeholder="Enter Department" value="{{patient.dept}}"></ion-input>
  </ion-item>

 
<ion-row>
  <ion-col>
  <ion-button type="submit" expand="full"  (click)="savePatients()"  [disabled]="!form.valid">Save</ion-button></ion-col>
  <ion-col>
  <ion-button color="danger" fill="solid" expand="full" (click)="dismissModal()">Cancel</ion-button></ion-col></ion-row>
</ion-list>
</ion-col>
</ion-row>
</ion-grid>
</form>


</ion-content>
 